# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.cache
/lib/bs
/node_modules

# misc
/.bsb.lock
/.merlin
/.parcel-cache
/.vscode
/coverage

# logs
/yarn-debug.log*
/yarn-error.log*

# production
/dist
/src/**/*.bs.js
/src/**/*.snap
