# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.cache
/lib/bs
/node_modules

# misc
.bsb.lock
.merlin
.vscode

# logs
yarn-debug.log*
yarn-error.log*

# production
/dist
/src/**/*.js
